/* primary color - ffd446 */
body, html {
    height: 100%;
    margin: 0;
}
/*HearNavbaroki*/
.navbar {
    height: 60px;
    z-index: 1040;
    background-color: #ffd446 !important;
}
.navbar-brand {
    margin-left: 10px;
    font-size: 30px;
    font-family: Rubik;
    font-weight: bold;
    color:#2b2e30;
    
}
.ml-auto {
    margin-left: auto !important;
  }
/*header icons*/
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    outline: none; 
}

.icon-button:hover {
    color: #000000;
    background: none;
}

.icon-button:focus,
.icon-button:active {
    color: #ffffff; 
    background: none !important; /*!important to force the changes in bootstarp*/
    outline: none !important;
    box-shadow: none !important; 
}
/*Slidemenu*/
.sidebar {
    background-color: #f8f9fa;
    padding-top: 10px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 200px;
    transition: width 0.3s ease;
}
.sidebar.collapsed {
    width: 1px;
}
.nav-pills {
    flex-direction: column;
    border-right: 1px solid #dee2e6;
    width: 200px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    background-color: #f8f9fa;
    transition: transform 0.2s ease;

}
.nav-pills.collapsed {
    transform: translateX(-220px);
}
.nav-pills .nav-link {
    color: darkslategrey;
    text-align: left;
}
.nav-pills .nav-link.active {
    background-color: #ffd446;
    color: #ffffff;
    font-size: larger;
    font-weight: bolder;
}
.nav-pills .nav-link:hover {
    background-color: #f8db7a;
    color: #ffffff;
}

.admin-info{
    margin-left:55px; 
}
/*Collapsing*/
.nav-pills .collapse .nav-link {
    background-color: #f8f9fa;
    color: darkslategrey;
}
.nav-pills .collapse .nav-link:hover {
    background-color: #f8db7a;
    color: #ffffff;
}
.nav-pills .collapse .nav-link.active{
    background-color: #ffd446;
    color: #ffffff;
}
/*Content*/
.content {
    margin-top: 60px; 
    margin-left: 220px; 
    padding: 15px;
    transition: margin-left 0.3s ease;
}
.content.collapsed {
    margin-left: 1px;
}
/* main content dash*/
.card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: end;
    transition: transform 0.2ms ease;
}
.card .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card i{
    font-size: 30px;
    margin-bottom: 10px;
}
.card .value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  .card .stat {
    font-size: 14px;
    color: #6c757d;
}
.card:hover {
    transform: translateY(-10px);
}
/* different widgets */
.card.sales{
    background-color: rgb(112, 169, 255);
    
}
.card.orders{
    background-color: #ffd446;
}
/* tables */
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
  tr:nth-child(even) {
    background-color: #fff6b6; 
} */
:root {
    --dark-text: #ffe70d;
    --light-body: #fff3ae;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #f8db7a;
    --yellox: #ffd446;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: Rubik;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Calendar*/
.cal {
    place-items: center;
    font-family: var(--font-family);
    background: linear-gradient(to right #ffd446, #ffedb3);
}
.container {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
}
.calendar {
    height: 610px;
    width: max-content;
    background-color: #f8e3a0;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
    box-shadow: var(--shadow);
}
.calendar-header {
    background: #ffcb1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
}
.calendar-body {
    pad: 10px;
}
.calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: rgb(104, 104, 104);
}
.calendar-week-days div:hover {
    color: black;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.calendar-week-days div{
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-text);
}
.calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}
.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.month-picker:hover {
    background-color: var(--color-hover);
}
.year-picker {
    display: flex;
    align-items: center;
}
.year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
}
.year-change:hover {
    background-color: var(--light-btn);
    transition: all .2s ease-in-out;
    transform: scale(1.12);
}
.year-change:hover pre {
    color: var(--bg-body);
}
.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#year:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}
.calendar-days div span {
    position: absolute;
}
.calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #ffedb3;
    border-radius: 20%;
    color: var(--dark-text);
}
.month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}
.month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}
.month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.month-list > div > div:hover {
    background-color: var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: 0.6 ease-in-out;
    animation: to-left .71s forwards;
}
.month-list.hideonce {
    visibility: hidden;
}
.month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
}
.date-time-formate {
    width: max-content;
    height: max-content;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
}
.day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #ffe347;
    position: absolute;
    left: -1rem;
}
.date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
}
.time-formate {
    font-size: 1.5rem;
}
.time-formate.hideTime {
    animation: hidetime 1.5s forwards;
}
.day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
}
.date-formate.hideTime {
    animation: hidetime 1.5s forwards;
}
.day-text-formate.showtime {
    animation: showtime 1s forwards;
}
.time-formate.showtime {
    animation: showtime 1s forwards;
}
.date-formate.showtime {
    animation: showtime 1s forwards;
}
@keyframes to-top{
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(100%);
        opacity: 1;
    }
}
@keyframes to-left {
    0% {
        transform: translateX(230%);
        opacity: 1;
    } 100% {
        transform: translateX(230%);
        opacity: 1;
    }
}
@keyframes to-right {
    0% {
        transform: translateX(0%);
        opacity: 1;
    } 100% {
        transform: translateX(-150%);
        opacity: 1;
    }
}
@keyframes showtime {
    0% {
        transform: translateX(250%);
        opacity: 1;
    } 100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes hidetime {
    0% {
        transform: translateX(0%);
        opacity: 1;
    } 100% {
        transform: translateX(-370%);
        opacity: 1;
    }
}
@media (max-width:375px) {
    .month-list>div {
        margin: 5px 0px;
    }
}