/* primary color - ffd446 */
body, html {
    height: 100%;
    margin: 0;
}
/*HearNavbaroki*/
.navbar {
    height: 60px;
    z-index: 1040;
    background-color: #ffd446 !important;
}
.navbar-brand {
    margin-left: 10px;
    font-size: 30px;
    font-family: Rubik;
    font-weight: bold;
    color:#2b2e30;
    
}
.ml-auto {
    margin-left: auto !important;
  }
/*header icons*/
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    outline: none; 
}

.icon-button:hover {
    color: #000000;
    background: none;
}

.icon-button:focus,
.icon-button:active {
    color: #ffffff; 
    background: none !important; /*!important to force the changes in bootstarp*/
    outline: none !important;
    box-shadow: none !important; 
}
/*Slidemenu*/
.sidebar {
    background-color: #f8f9fa;
    padding-top: 10px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 200px;
    transition: width 0.3s ease;
}
.sidebar.collapsed {
    width: 1px;
}
.nav-pills {
    flex-direction: column;
    border-right: 1px solid #dee2e6;
    width: 200px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    background-color: #f8f9fa;
    transition: transform 0.2s ease;

}
.nav-pills.collapsed {
    transform: translateX(-220px);
}
.nav-pills .nav-link {
    color: darkslategrey;
    text-align: left;
}
.nav-pills .nav-link.active {
    background-color: #ffd446;
    color: #ffffff;
    font-size: larger;
    font-weight: bolder;
}
.nav-pills .nav-link:hover {
    background-color: #f8db7a;
    color: #ffffff;
}

.admin-info{
    margin-left:55px; 
}
/*Collapsing*/
.nav-pills .collapse .nav-link {
    background-color: #f8f9fa;
    color: darkslategrey;
}
.nav-pills .collapse .nav-link:hover {
    background-color: #f8db7a;
    color: #ffffff;
}
.nav-pills .collapse .nav-link.active{
    background-color: #ffd446;
    color: #ffffff;
}
/*Content*/
.content {
    margin-top: 60px; 
    margin-left: 220px; 
    padding: 15px;
    transition: margin-left 0.3s ease;
}
.content.collapsed {
    margin-left: 1px;
}
/* main content dash*/
.card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: end;
    transition: transform 0.2ms ease;
}
.card .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card i{
    font-size: 30px;
    margin-bottom: 10px;
}
.card .value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  .card .stat {
    font-size: 14px;
    color: #6c757d;
}
.card:hover {
    transform: translateY(-10px);
}
/* different widgets */
.card.sales{
    background-color: rgb(112, 169, 255);
    
}
.card.orders{
    background-color: #ffd446;
}
/* tables */
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
  tr:nth-child(even) {
    background-color: #fff6b6; 
} */
